@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="about_Me" id="about_Me">
    <div class="container">
        <div class="d-flex">
            <div class="about-section_Me">
                <h2 class="about_heading_Me">About Me</span></h2>
                <strong><h2>Software Developer</h2></strong>
                <p>
                    Hello <strong>I'm Sudarshan</strong>, a Computer Science Engineering graduate.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi.
                    Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa.
                    Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                    Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. Curabitur tortor. Pellentesque nibh. Aenean quam. In scelerisque sem at dolor.
                    Maecenas mattis. Sed convallis tristique sem.
                </p>
                <p><strong>🎓 Graduation:</strong> Bachelor of Science</p>
                <p><strong>🎂 Birthday:</strong> September 5, 1996</p>
                <p><strong>📧 Email:</strong> <a href="mailto:xyxdotnetdeveloper@gmail.com"> xyxdotnetdeveloper@gmail.com</a></p>
                <p><strong>📞 Phone:</strong> <a href="tel:+919870987098"> +91 9870-987-098</a></p>
                <p><strong>💻 GitHub:</strong> <a href="https://github.com/SudarshanGithub96" target="_blank"> SudarshanGithub96</a></p>
                <p><strong>🔗 Naukri Profile:</strong> <a href="https://www.naukri.com/mnjuser/profile" target="_blank"> Sudarshan on Naukri.com</a></p>
                <p><strong>💼 LinkedIn:</strong> <a href="https://www.linkedin.com/in/Sudarshan-sharma-sde" target="_blank"> Sudarshan Sharma</a></p>


                <button type="button" class="btn Modal_Button modal_Button_Skills" data-bs-toggle="modal" data-bs-target="#myModalSkills">Skills</button>
                <button type="button" class="btn Modal_Button modal_Button_Experience" data-bs-toggle="modal" data-bs-target="#myModalExperience">Experience</button>
                <button type="button" class="btn Modal_Button modal_Button_Contact" data-bs-toggle="modal" data-bs-target="#myModalContact">Contact</button>
            </div>
        </div>

        <div class="d-flex">
            <!-- The Modal -->
            <div class="modal" id="myModalSkills">
                <div class="modal-dialog text-dark">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Skills</h4>
                            <span><img id="skills_gif" src="https://user-images.githubusercontent.com/74038190/212284087-bbe7e430-757e-4901-90bf-4cd2ce3e1852.gif" /></a></span>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            <ul>
                                <li><b>Web Development:</b> ASP.NET MVC Core</li>
                                <li><b>Programming Languages:</b> C#, JavaScript, JQuery</li>
                                <li><b>Database Management:</b> Microsoft SQL Server, Entity Framework, ADO.NET</li>
                                <li><b>Web Technologies:</b> HTML, CSS, JSON, AJAX</li>
                                <li><b>Version Control:</b> Git & GitHub</li>
                                <li><b>DevOps Tools:</b> Docker</li>
                                <li><b>Project Management:</b> JIRA Software</li>
                                <li><b>Design Patterns:</b> Repositary Pattern, Singleton Pattern</li>
                            </ul>
                        </div>
                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                        </div>

                    </div>
                </div>
            </div>


            <!-- The Modal -->
            <div class="modal" id="myModalExperience">
                <div class="modal-dialog text-dark">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Experience</h4>
                            <span><img id="skills_gif" src="https://user-images.githubusercontent.com/74038190/212284087-bbe7e430-757e-4901-90bf-4cd2ce3e1852.gif" /></a></span>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            With 1 year of experience as a <span class="important">.NET developer</span>, I have designed, developed, and implemented
                            .NET web applications, with a strong focus on optimizing <span class="important">performance</span> and maintainability.
                            I have extensive experience in hand-coding user interfaces using HTML, CSS, and scripting
                            languages like JavaScript and JQuery. My work involves developing applications using Visual Studio,
                            .NET Frameworks, C#.NET, ASP.NET MVC, and ASP.NET MVC Core. I am also adept at troubleshooting and
                            debugging to enhance existing code.
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                        </div>

                    </div>
                </div>
            </div>


            <!-- The Modal -->
            <div class="modal" id="myModalContact">
                <div class="modal-dialog text-dark">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Contact</h4>
                            <span><img id="skills_gif" src="https://user-images.githubusercontent.com/74038190/212284087-bbe7e430-757e-4901-90bf-4cd2ce3e1852.gif" /></a></span>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            <ul>
                                <li><strong>🎓 Graduation:</strong> Bachelor of Science</li>
                                <li><strong>🎂 Birthday:</strong> September 5, 1996</li>
                                <li><strong>📧 Email:</strong> <a href="mailto:xyxdotnetdeveloper@gmail.com"> xyxdotnetdeveloper@gmail.com</a></li>
                                <li><strong>📞 Phone:</strong> <a href="tel:+919870987098"> +91 9870-987-098</a></li>
                                <li><strong>💻 GitHub:</strong> <a href="https://github.com/SudarshanGithub96" target="_blank"> SudarshanGithub96</a></li>
                                <li><strong>🔗 Naukri Profile:</strong> <a href="https://www.naukri.com/mnjuser/profile" target="_blank"> Sudarshan on Naukri.com</a></li>
                                <li><strong>💼 LinkedIn:</strong> <a href="https://www.linkedin.com/in/Sudarshan-sharma-sde" target="_blank"> Sudarshan Sharma</a></li>
                            </ul>
                        </div>
                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                        </div>

                    </div>
                </div>
            </div>

        </div>



    </div>
</section>

