

    <section id="hero">
        <div class="container d-flex justify-content-between">
            <div class="hero_image animate__animated animate__bounceInLeft">
                <img src="~/images/hero.png" alt="hero" />
            </div>

            <div class="hero_content">
                <h1 class="animate__animated  animate__flipInX">
                    <span class="hi_text">Hi</span>, I'm
                    <span class="name_text">John Doe</span>
                </h1>
                <h2>Frontend Developer</h2>
            </div>

            @*  <button type="button" class="btn btn-success">
            <a href="#about" style="color: white; text-decoration: none;">About Me</a>
            </button> *@
            <a href="#about" class="btn">About me</a>
            <button type="post" class="btn">Donwload CV</button>
        </div>

    </section>


    <section class="about" id="about">
        <div class="container d-flex">
            <div class="hero_image animate__animated animate__bounceInLeft">
                <img src="~/images/hero.png" alt="hero" />
            </div>
            <div class="about-section">
                <h2 class="about_heading">About Me</span></h2>
                <h3>Frontend Developer</h3>
                <p>lorem ipsum lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum</p>
            </div>
        </div>
    </section>






