@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --lighting-color: #003d65;
    --dark-color: #003d62;
    --darker-color: #003251;
    --secondary-color: #fff700;
    --bg-color: #191f36;
    --main-color: #5982f4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}

body, html {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    scroll-behavior: smooth;
    color: white;
    font-weight: 300;
    /* font-size: 62.5%;*/
}

header {
    box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.4);
    position: sticky;
    top: 0;
    z-index: 100;
    background: var(--lighting-color);
}

.header .container-fluid {
    margin: 0 auto;
    padding: 0 20px;
}

.header .navbar a {
    color: #fff;
    text-decoration: none;
    padding: 9px 14px;
    transition: color 0.3s ease-in-out, background-color 0.1s ease-in-out;
    font-size: 1.2rem;
}

    .header .navbar a.active,
    .header .navbar a:hover {
        color: #fff;
        background-color: #003251;
        border-radius: 5px;
    }

.logo {
    color: #fff;
    text-decoration: none;
    font-size: 2.5rem;
    cursor: default;
    font-weight: 550;
}

#hero {
    background: var(--dark-color);
    padding: 2rem 0;
}

    #hero .container {
        align-items: center;
    }

.hi_text {
    font-size: 2rem;
    color: #fff;
}

.name_text {
    font-size: 3rem;
    color: #FF5733;
}

#hero h2 {
    font-size: 2.3rem;
    overflow: hidden;
    font-weight: normal;
    border-right: 0.15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    animation: typing 2s steps(25, end), blink-caret 0.75s step-end infinite;
}

.hero_image {
    height: 10%;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}


@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }

    50% {
        border-color: orange;
    }
}



.btn {
    display: inline-block;
    padding: .6rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color );
    font-size: 1rem;
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}

    .btn:hover {
        color: #E0FFFF;
        box-shadow: none;
    }

/* Footer */

footer {
    padding: 10px 10px 0px 10px;
    position:relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--darker-color);
    color: white;
    font-size: 15px;
    /*text-align: right;*/
    /* box-shadow: 0px -2px 10px rgba(0, 0, 0, 1);*/
}

/* Media Query */

@media (max-width: 786px) {
    html {
        font-size: 40%;
    }

    #hero .container {
        flex-direction: column;
    }

    .hero_image {
        display: grid;
        place-items: center;
    }

    #contact .container {
        height: 70vh;
    }
}

@media (max-width: 500px) {
    html {
        font-size: 32%;
    }

    #hero .container {
        flex-direction: column;
    }

    .hero_image {
        display: grid;
        place-items: center;
    }

    #contact .container {
        height: 50vh;
    }
}





.wrapper {
    color: #fff;
    display: flex;
    position: relative;
}

    .wrapper .sidebar {
        position: fixed;
        width: 200px;
        height: 100%;
        background: #003251;
        padding: 9px 10px 11px 12px;
    }

.sidebar > ul > li > a {
    color: #fff;
    display: flex;
    gap: 10px;
}


.wrapper .sidebar ul li {
    padding: 9px 14px 10px 8px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(225,225,225,0.05);
}

    .wrapper .sidebar ul li:hover {
        background: #003290;
    }

.wrapper .sidebar ul {
    border: 2px solid white;
}

.main_Content {
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    margin-top: 10px;
    text-align: justify;
}




/*About section content Home Page*/
.about {
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: #191f36;
}

.about_heading {
    text-align: center;
    font-family: Arial;
}



.contact {
    background: var(--lighting-color);
    height: 105vh;
    padding: 70px;
}
    .contact h1 {
        font-size: 2.5rem;
        margin-bottom: 20px;
        color: #fff;
    }
    .contact .title {
        font-size: 1.75rem;
        color: #fff;
        margin-bottom: 20px;
    }
    .contact .info h3 {
        font-size: 1.2rem;
        margin-bottom: 15px;
        color: #fff;
    }
        .contact .info h3 i {
            color: #007bff;
            margin-right: 10px;
        }
    .contact form {
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.1);
    }
    .contact .form-group label {
        font-weight: 600;
        color: #333;
    }

    .contact .form-group input {
        border: 1px solid #ced4da;
        border-radius: 4px;
        padding: 10px;
        font-size: 1rem;
        color: #495057;
    }
        .contact .form-group input:focus {
            border-color: #80bdff;
            outline:medium;
            box-shadow: 0 0 5px rgba(0, 123, 255, 0.25);
        }

    .contact .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
        padding: 10px 20px;
        font-size: 1rem;
        border-radius: 4px;
    }
        .contact .btn-primary:hover {
            background-color: #0056b3;
            border-color: #0056b3;
        }

    /* Back to List Link */
    .contact a {
        color: #007bff;
        font-weight: 600;
        text-decoration: none;
        display: inline-block;
        margin-top: 20px;
    }
        .contact a:hover {
            text-decoration: underline;
        }



.btn{
    margin:10px;
}

@media (max-width: 767.98px) {
    .contact {
        padding: 30px 15px;
    }

        .contact h1 {
            font-size: 2rem;
        }

        .contact .title {
            font-size: 1.5rem;
        }

        .contact .info h3 {
            font-size: 1rem;
        }
}
